/*
 ivy eclipse ui color theme
*/
body  {
  background-color: #147;
}

#body  {
  color: #000;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #369;
}
h1 {
  color: #fff;
  background-color: #369;
}
#main > h1 {
  color: #369;
  background-color: #fff;
  background: none;
}
a:link {
  color: #369;
}
a:visited {
  color: #369;
}
a:hover, a:active {
  color: #369;
}
blockquote {
  color: #696969;
}
pre {
  background-color: #eee;
  border: 1px solid #ddd;
}
.form-item label {
  color: #369;
}
.item-list .title {
  color: #369;
}

/*
** Page layout blocks / IDs
*/
#header  {
  background-color: #ffffff;
  /* border: 3px solid #69c; */
}

#top-menu {
  background-color:#369;
  border-top: 3px solid #69c;
  border-bottom: 3px solid #69c;
}

#search .form-text, #search .form-submit {
  border: 1px solid #369;
}
#search .form-submit {
  background-color: #69c;
}

.block h2 {
  color: #000;
  background-color: #eee; 
}

.block .content {
  background-color: #fff;
  border: 1px solid #eee;
}
/*
.block h2 {
  color: #000;
}
*/

#navcontainer {
	background-color:#369;
}

#nav {
	background-color:#369;
}

#nav ul {
	background-color:#369;
	border-top: 1px solid #369;
	border-right: 1px solid #369;
	border-bottom: 1px solid #369;
	border-left: 0.75em solid #369;
}

#nav li a {
	color: #fff;
}

#nav .title {
  color: #fff;
  /*
  background: #61752c;
  */
  background: #369;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #369;
	border-left: 0;
}

#nav li li a {
	background: #fff;
	color: #369;
  border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #369;
	border-left: 0;
}

#nav a:hover,
#nav a:active {
	background: #69c;
}

#content {
  border-top: 3px solid #69c;
}

#forum tr.dark {
  background: #e0edfb;
}
