/*
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 */


#treemenu { 
padding-left: 10px; 
}

.treeview ul{ 
margin: 0;
padding: 0;
}

.treeview li{ 
background: white url(../images/bullet.gif) no-repeat left center;
list-style-type: none;
padding-left: 22px;
margin-bottom: 3px;
}

.treeview li.submenu{ 
background: white url(../images/closed.gif) no-repeat left 1px;
cursor: hand !important;
cursor: pointer !important;
}

.treeview li.collapsable, .treeview li.open { 
background: white url(../images/open.gif) no-repeat left 1px;
}


.treeview ul.closed { 
display: none; 
}

.treeview .submenu ul li{
cursor: default;
}
